<footer id="main-footer" class="footer bg-white p-3">
  <div class="container">
    <div class="d-flex flex-row justify-content-center">
      <div class="p-3">
        <a target="_blank" href="https://www.linkedin.com/in/yaroslav-solonnikov/">
          <i class="fa fa-2x fa-linkedin"></i>
        </a>
      </div>
      <div class="p-3">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100009817125839">
          <i class="fa fa-2x fa-facebook"></i>
        </a>
      </div>
      <div class="p-3">
        <a target="_blank" href="https://www.instagram.com/solonnikov/">
          <i class="fa fa-2x fa-instagram"></i>
        </a>
      </div>
      <div class="p-3">
        <a href="mailto:yaroslav.solonnikov@gmail.com">
          <i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i>
        </a>
      </div>
      <div class="p-3">
        <a href="tel:+38(050)486-77-76">
          <i class="fa fa-2x fa-phone" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>